@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.header_signup{
    color: red;
    margin-bottom: 40px;
    margin-left: 20%;
}

.form_signup{
    color: white;
    margin-left: 50%;
    margin-top: 20px;
}

.out{
    margin-left: 100%;
}

/* .logo{
    margin-left: 20%;
    width: 20px;
} */


.nav_logo{
    padding-bottom: 80px;
    padding-left: 20px;
    width: 220px;
    object-fit: contain;
    margin-top: 60px;
    transition: transform 450ms;
 }

 .button{
    margin-left: 20px;
 }